<div class="create_survey">
  <form action="/survey/new" method="post" id="new_survey" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Survey Title">
    <input type="file" name="image" accept="image/*">
    <button type="submit"> Create Survey</button>
    <br>
  </form>
</div>
